.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.menu,
.content {
    background-color: var(--color-4);
    margin: 10px;
    height: 95%;
    border-radius: 10px;
}

.menu {
    width: 25%;
    min-width: 200px;
}

.content {
    width: 95%;
    min-width: 350px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .menu,
    .content {
        width: 100%;
        min-width: auto;
    }
}
